.App {
  padding: 100px;
  background-color: rgba(164, 222, 164, 0.078);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid red;
  padding: 8px;
  text-align: center;
}

h1 {
  color: Green;
  font-weight: bolder;
}

th {
  background-color: #f4f4f4;
}
